body {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }